<div class="head">
    <h1>Login</h1>
</div>
<div class="form align-items-center flex flex-column">
    <span>
        <p-dropdown [options]="user" styleClass="p-dropdown" [(ngModel)]="selectedOfficer" optionLabel="name"  placeholder="Select a Position"></p-dropdown>
    </span>
    <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" placeholder="User Name" pInputText [(ngModel)]="username" id="">
    </span>
    <span class="p-input-icon-left">
        <i class="pi pi-verified"></i>
        <input type="password" placeholder="Password" [(ngModel)]="password" pInputText name="" id="">
    </span>
    <button pButton  (click)="login()" (window:keyUp.enter)="login()"  label="Login"></button>
</div>
