@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import 'node_modules/primeflex/primeflex.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
*{
  font-family: 'Nunito Sans', sans-serif;
}
body {

    // background-color: rgb(58, 46, 54);
    // background-color: rgb(37, 5, 27);
    background-image: url('/assets/images/money2002.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  